# Build
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Jenkins local data
jenkins-data/
